* {
    margin: 0;
    font-family: 'Open Sans';
}


.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#first {
    right: 20px;
    width: 40%;
}

.words {
    padding: 15px;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 20px;
    width: 45%;
    background: #ffffff;
    position: relative;
    box-shadow: 5px 5px 2px #aaaaaa;

}



.bigt {
    font-family: 'Monaco', monospace;
}

.list {
    background-color: rgb(230, 195, 70, 0.5);
    border: 3px solid rgb(230, 195, 70);
    padding: 0.7em;
}

.media {
    background-color: rgba(216, 79, 106, 0.5);
    border: 3px solid rgb(216, 79, 106);
    padding: 0.7em;
}

nav {
    width: fit-content;
}


h1,
h2 {
    margin: 1vh 0;
    text-align: center;
}

p,
h4,
h5 {
    margin-left: 1vw;
}

figure {
    margin: 3vh 2vw;
    width: fit-content;
}

img {
    width: 640px;
    height: 360px;
}

figcaption {
    text-align: center;
    font-style: italic;
    opacity: 0.7;
}

.needmargin {
    margin-top: 1vh;
}

.minilist {
    margin-left: 3vw;
}

div {
    margin: 3vh 2vw;
}

embed {
    width: 650px;
    height: 400px;
    margin: 0 2vw;
}

footer {
    background-color: rgba(232, 212, 176, 0.5);
    border-top: 3px solid rgb(232, 212, 176);
    margin-top: 3vh;
}


.center{
    right:2em;
}